---
import PageLayout from './PageLayout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import RecommendPosts from '../components/RecommendPosts.astro';
import HotPosts from '../components/HotPosts.astro';
import NewPosts from '../components/NewPosts.astro';
import Footer from '../components/Footer.astro';
---

<PageLayout title="Vaco Blog">
  <div class="w-full h-full max-w-[800px] m-auto">
    <Header class="sticky top-0 pt-10 bg-[#FCFAFB] z-10 md:mt-10" />
    <HeroSection />
    <RecommendPosts class="mt-2 md:mt-12" />
    <HotPosts class="mt-16 md:mt-20" />
    <NewPosts class="mt-16 md:mt-20" />
    <Footer class="mt-16 md:mt-24" />
  </div>
</PageLayout>
