---
const { title } = Astro.props;
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Google Tag Manager -->
    <script>
      (function (
        w: Window,
        d: Document,
        s: "script",
        l: "dataLayer",
        i: "GTM-KDGJLWXF"
      ) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode!.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KDGJLWXF");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <slot />
</html>
