<section class="px-[10px] py-8">
  <p class="text-[28px] font-bold">
    글을 사랑하는 우리가 <br />
    더 많은 이야기를 나누는 곳
  </p>
  <p class="mt-2 text-md text-[#616161]">
    바코 블로그는 개인의 영감과 아이디어를 존중하는 블로그 플랫폼입니다.
  </p>
</section>
